{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Budget Tool</title>
    <link href="{% static 'css/bootstrap.css' %}"
          rel="stylesheet">
    <link href="{% static 'css/style.css' %}"
          rel="stylesheet">
</head>
    <body>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">Budget Tool</a>

                <button type="button" class="navbar-toggle"
                        data-toggle="collapse"
                        data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <ul class="nav navbar-nav navbar-right collapse navbar-collapse">
                <li>
                    <a href="/" data-target='#' data-toggle="dropdown">Add Budget Item <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <form action="post_url/" method="post" class="post-form">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <input type="submit" value="Submit" />
                            </form>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/" data-target='#' data-toggle="dropdown">Views <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/">Main</a></li>
                        <li class="divider"></li>
                        <li><a href="current.html">Current</a></li>
                        <li><a href="monthtodate.html">MTD</a></li>
                        <li><a href="yeartodate.html">YTD</a></li>
                    </ul>
                </li>
                <li>
                    <a href="reports.html" data-target='#' data-toggle="dropdown">Reports <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="report1.html">MTD vs Budget</a></li>
                        <li><a href="report2.html">YTD vs Budget</a></li>
                    </ul>
                </li>
                <li>
                    <a href="tools.html" data-target='#' data-toggle="dropdown">Tools <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="tool1.html">Record Management</a></li>
                    </ul>
                </li>
            </ul>
            </div>
        </div>

        {% block content %}
        {% endblock %}

        <div class="panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Placeholder Footer</h3>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src={% static "js/bootstrap.min.js" %}></script>

    </body>
</html>