{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <table class="table table-tablestriped">
            <tr class="table_header">
                <td>Name</td>
                <td>Category</td>
                <td>Amount</td>
                <td>Description</td>
                <td>Entry Month</td>
                <td>Entry Day</td>
                <td>Entry Year</td>
            </tr>
            {% for budget_item_current in budget_items_current|dictsort:'expend_category' %}
            <tr class="budget_item">
                <td><a href="/{{budget_item.id}}/">{{ budget_item_current.name }}</a></td>
                <td>{{ budget_item_current.expend_category }}</td>
                <td>{{ budget_item_current.amount }}</td>
                <td>{{ budget_item_current.description }}</td>
                <td>{{ budget_item_current.entry_month }}</td>
                <td>{{ budget_item_current.entry_day }}</td>
                <td>{{ budget_item_current.entry_year }}</td>
            </tr>
            {% endfor %}
        </table>
        <div class="col-lg-12">
            <a class="btn btn-primary" href="/">Back</a>
        </div>
    </div>
    <div class="container">
        <p></p>
    </div>
{% endblock %}