{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <table class="table table-tablestriped">
            <tr class="table_header">
                <td>Name</td>
                <td>Category</td>
                <td>Amount</td>
            </tr>
            {% for budget_item in budget_items|dictsort:'expend_category' %}
            <tr class="budget_item">
                <td>{{ budget_item_current.name }}</td>
                <td>{{ budget_item_current.expend_category }}</td>
                <td>{{ budget_item_current.amount }}</td>
            </tr>
            {% endfor %}
        </table>
        <div class="col-lg-12">
            <a class="btn btn-primary" href="/">Back</a>
        </div>
    </div>
{% endblock %}