{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <ul class="list-group">
            <li class="list-group-item list-group-item-info">{{ budget_item.name }}</li>
            <li class="list-group-item">{{ budget_item.amount }}</li>
            <li class="list-group-item">{{ budget_item.description }}</li>
            <li class="list-group-item">{{ budget_item.entry_date }}</li>
        </ul>
        <div class="col-lg-12">
            <a class="btn btn-primary" href="/">Back</a>
        </div>
    </div>
{% endblock %}