{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
        <div class="container">
            <div class="row text-center features">
                <div class="col-sm-4">
                    <i class="glyphicon glyphicon-pawn"></i>
                    <h2>Current</h2><p class="text-left">Entries for today.</p>
                    {% regroup budget_items_current by expend_category as expend_list %}
                    <ul class="text-left">
                    {% for expend_category in expend_list %}
                        <li>{{ expend_category.grouper }}
                            <ul>
                                {% for budget_item_current in expend_category.list %}

                                      <li>{{ budget_item_current.name }}: {{ budget_item_current.amount }}</li>

                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="col-sm-4">
                    <i class="glyphicon glyphicon-knight"></i>
                    <h2>Month to Date</h2><p class="text-left">A month to date summary.</p>
                    {% regroup budget_items_mtd by expend_category as expend_list %}
                    <ul class="text-left">
                    {% for expend_category in expend_list %}
                        <li>{{ expend_category.grouper }}
                            <ul>
                                {% for budget_item_mtd in expend_category.list %}

                                      <li>{{ budget_item_mtd.name }}: {{ budget_item_mtd.amount }}</li>

                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </div>
                <div class="col-sm-4">
                    <i class="glyphicon glyphicon-king"></i>
                    <h2>Year to Date</h2><p class="text-left">A year to date summary.</p>
                    {% regroup budget_items_ytd by expend_category as expend_list %}
                    <ul class="text-left">
                    {% for expend_category in expend_list %}
                        <li>{{ expend_category.grouper }}
                            <ul>
                                {% for budget_item_ytd in expend_category.list %}

                                      <li>{{ budget_item_ytd.name }}: {{ budget_item_ytd.amount }}</li>

                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </div>
            </div>
            <div class="row well well-sm">
                <div class="col-sm-12 col-md-6">
                    <table class="table table-tablestriped">
                        <tr class="table_header">
                            <td>Name</td>
                            <td>Category</td>
                            <td>Amount</td>
                            <td>Entry Month</td>
                            <td>Entry Day</td>
                            <td>Entry Year</td>
                        </tr>
                        {% for budget_item in budget_items_ytd|dictsort:'entry_day'|dictsort:'entry_month'|dictsort:'entry_year'|dictsort:'expend_category' %}
                        <tr class="budget_item">
                            <td><a href="/{{budget_item.id}}/">{{ budget_item.name }}</a></td>
                            <td>{{ budget_item.expend_category }}</td>
                            <td>{{ budget_item.amount }}</td>
                            <td>{{ budget_item.entry_month }}</td>
                            <td>{{ budget_item.entry_day }}</td>
                            <td>{{ budget_item.entry_year }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    <button type="button" class="btn btn-sm btn-success">Add an Entry</button>
                    <button type="button" class="btn btn-sm  btn-info">Edit an Entry</button>
                    <button type="button" class="btn btn-sm  btn-danger">Delete an Entry</button>
                </div>
            </div>
        </div>
{% endblock %}
