{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
        <div class="container">
            <div class="row well well-sm">
                <div class="col-xs-12 col-sm-6">
                    <table>
                        <tr class="table_header">
                            <td>Name</td>
                            <td>Amount</td>
                            <td>Date</td>
                            <td>Description</td>
                        </tr>
                        {% for budget_item in budget_items|dictsort:'entry_date' %}
                        <tr class="budget_item">
                            <td><a href="/{{budget_item.id}}/">{{ budget_item.name }}</a></td>
                            <td>{{ budget_item.amount }}</td>
                            <td>{{ budget_item.entry_date }}</td>
                            <td>{{ budget_item.description }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="col-sm-6 hidden-xs">
                    <img src="static/images/budget_header.jpg">
                </div>
                <button type="button" class="btn btn-sm btn-success">Add an Entry</button>
                <button type="button" class="btn btn-sm  btn-info">Edit an Entry</button>
                <button type="button" class="btn btn-sm  btn-danger">Delete an Entry</button>
            </div>
            <div class="row text-center features">
                <div class="col-sm-4">
                    <i class="glyphicon glyphicon-briefcase"></i>
                    <h2>Header 1</h2><p>This is some test data for the budget tool.</p>
                </div>
                <div class="col-sm-4">
                    <i class="glyphicon glyphicon-random"></i>
                    <h2>Header 2</h2><p>I wonder how all of this is going to turn out?</p>
                </div>
                <div class="col-sm-4">
                    <i class="glyphicon glyphicon-send"></i>
                    <h2>Header 3</h2><p>The anticipation is killing me!</p>
                </div>
            </div>
            <div class="panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Add Budget Item</h3>
                </div>
                <div class="'panel-body">
                    <form action="post_url/" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Submit" />
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
{% endblock %}
